.page {
    background-color: orange;
    padding: 5px;
    min-height: 2050px;
    min-width: 1500px;
}

.aprovedPic {
    border: 10px,solid,orange;
    border-radius: 2000px;
    width: 150px;
    position:absolute;
    margin-top: 380px;
    margin-left: 1130px;
}

.header {
    height: 90px;
    width: 1190px;
    position: relative;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.principal div {
    padding: 10px;
    margin: 5px;
    max-height: 2500px;
}

.principal .boxPiadasLista {
    width: 100%;
}

.principal .boxPiadasLista .desap{
    display: none;
}

.principal .boxcriando {
    width: 30%;
}

.principal {
    position: absolute;
    padding: 0px;
    background-color: orange;
    display:flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 80px;
    width: 1200px;
}

.esconde .reinicarLista {
    position:absolute;
    display: flex;
    margin-top: 0px;
    margin-left: 210px;
    height: 110px;
    width: 360px;
    background-color: rgb(14, 104, 44);
    border-radius:8px;
    border: 3px solid rgb(185, 134, 24);
    box-shadow: 2px 2px 8px 6px rgba(26, 19, 19, 0.15);
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.principal .esconde .reinicarLista  p {
    
    text-align: center;
    color:white;
}

.principal .esconde .reinicarLista  button {
    
    color: rgb(88, 54, 23);
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    background-color: rgb(194, 168, 65);
    border-radius: 10px;
    padding-top: 10px;
    text-decoration: none;
    margin-top: -10px;
    font-size: 15px;
    align-items: center;
    height: 50px;
    padding: 5px;
}