.page {
    background-color: orange;
    padding: 5px;
    min-height: 700px;
}

.aprovedPic {
    border: 10px,solid,orange;
    border-radius: 2000px;
    width: 150px;
    position:absolute;
    margin-top: 380px;
    margin-left: 1130px;
}

.header {
    height: 90px;
    width: 1190px;
    position: relative;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 15px;
}

.principal div {
    padding: 10px;
    margin: 5px;
}

.principal .boxPiadasLista {
    width: 70%;
}

.principal .boxcriando {
    width: 30%;
}

.principal {
    position: absolute;
    padding: 0px;
    background-color: orange;
    display:flex;
    justify-content: center;
    margin-left: 50px;
    margin-right: 80px;
}